
[링크](https://wikidocs.net/7014)

## 파이썬 시작하기
### 001 - 010

In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's Cosmetics")

Mary's Cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [6]:
print("naver", "kakao", "sk", "samsung", sep = ";")

naver;kakao;sk;samsung

<div class="alert alert-info">

**Note:** print 함수에 sep 인자를 입력하면 자동으로 사이를 구분해줌

</div>

In [11]:
print("first");print("second")

first
second

In [10]:
print("first", end = '');print("second")

firstsecond

<div class="alert alert-info">

**Note:** print 함수에 end 인자도 유용하다

</div>

In [12]:
print(5/3)

1.6666666666666667

## 파이썬 변수
### 011 - 020

In [14]:
삼성전자 = 50000
총평가금액 = 삼성전자*10 
print(총평가금액)

500000

In [17]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.78

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.78 <class 'float'>

In [22]:
s = "hello"
t = "python"

print(s, '! ', t, sep = '')

hello! python

In [23]:
print(s+'!', t)

hello! python

In [24]:
num_str = "720"
int(num_str)

720

In [25]:
num = 100
str(num)

'100'

In [26]:
float('15.79')

15.79

In [27]:
year = '2020'
int_year = int(2020)
print(int_year, int_year-1, int_year - 2)

2020 2019 2018

In [29]:
monthly = 48584
month = 36
print(monthly*month, "원")

1749024 원

## 파이썬 문자열
### 021-030

In [30]:
letters = 'python'
print(letters[0], letters[2])

p t

In [32]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [35]:
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4], sep = '')

홀홀홀

In [39]:
print(string[::2])
print(string[1::2])

홀홀홀
짝짝짝

<div class="alert alert-info">

**Note:** 문자열 슬라이싱할 때 시작인덱스:끝인덱스:오프셋 을 지정할 수 있음

</div>

In [40]:
string = 'PYTHON'
print(string[::-1])

NOHTYP

In [43]:
phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [44]:
phone_number = "010-1111-2222"
phone_number.replace("-", "")

'01011112222'

In [49]:
url = "http://sharebook.kr"
print(url.split(".")[-1])

kr

<div class="alert alert-info">

**Note:** 슬라이싱할 때 유용한 split!

</div>

In [50]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

<div class="alert alert-info">

**Note:** str은 immutable

</div>

In [53]:
string = 'abcdfe2a354a32a'
string.replace("a", "A")

'Abcdfe2A354A32A'

In [54]:
string = 'abcdfe2a354a32a'
string.replace("a", "A")
print(string)

abcdfe2a354a32a

<div class="alert alert-info">

**Note:** replace 함수 쓰고 다시 변수로 지정해주지 않으면 의미 없음
</div>

### 031 - 040

In [55]:
a = "3"
b = "4"
print(a + b)

34

In [56]:
print("Hi"*3)

HiHiHi

In [57]:
print("-"*80)

--------------------------------------------------------------------------------

In [60]:
t1 = 'python'
t2 = 'java'

print((t1+" "+t2+" ")*4)

python java python java python java python java

In [62]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이 : {} ".format(name1, age1))
print("이름: {} 나이 : {} ".format(name2, age2))

이름: 김민수 나이 : 10
이름: 이철희 나이 : 13

In [64]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [68]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [70]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [74]:
data = "   삼성전자"
print(data.strip())
print(data.lstrip())
print(data.rstrip())

삼성전자
삼성전자
   삼성전자

### 041 - 050

In [77]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [78]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [80]:
a = "hello"
a.capitalize()

'Hello'

In [86]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

In [88]:
file_name = "보고서.xlsx"
print(file_name.endswith(('xlsx', 'xls')))

True

<div class="alert alert-info">

**Note:** endswith 안에 여러 조건 쓰려면 괄호 형태

</div>

In [90]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

In [91]:
a = "hello world"
a.split()

['hello', 'world']

In [94]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [95]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [96]:
data = "039490     "
data.rstrip()

'039490'

## 파이썬 리스트
### 051 - 060

In [104]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank, type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>

In [100]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [105]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.insert(1, "배트맨")
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '럭키']

<div class="alert alert-info">

**Note:** 리스트 특정 위치에 값을 넣으려면 insert

</div>

In [106]:
movie_rank.remove("럭키")
movie_rank

['닥터 스트레인지', '배트맨', '스플릿']

In [110]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.insert(1, "배트맨")
print(movie_rank)
del movie_rank[1]
print(movie_rank)
del movie_rank[1]
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '럭키']

<div class="alert alert-info">

**Note:** 리스트 원소를 삭제할때는 remove나 del

</div>

In [111]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [114]:
nums = [1, 2, 3, 4, 5, 6, 7]

print("max : ", max(nums))
print("min : ", min(nums))

max :  7
min :  1

In [115]:
nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [116]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [120]:
nums = [1, 2, 3, 4, 5]

print(sum(nums) / len(nums))

3.0

### 061 - 070

In [121]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

price[1:]

[100, 130, 140, 150, 160, 170]

In [126]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("홀수만 :", nums[::2])
print("짝수만 :",nums[1::2])
print("역방향 :",nums[::-1])

홀수만 : [1, 3, 5, 7, 9]
짝수만 : [2, 4, 6, 8, 10]
역방향 : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [127]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [135]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))
print("/".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

<div class="alert alert-info">

**Note:** 리스트 원소를 합쳐서 프린트하고 싶을 때 `join` 사용

</div>

In [136]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [138]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [140]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [144]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort(reverse=True)
print(data)

[10, 9, 5, 4, 3, 2, 1]

## 파이썬 튜플
### 071 - 080

In [150]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [154]:
숫자1 = (1)
print(숫자1, type(숫자1))

숫자2 = (1,)
print(숫자2, type(숫자2))

1 <class 'int'>
(1,) <class 'tuple'>

<div class="alert alert-info">

**Note:** 하나의 정숫값만 저장하면 튜플이 아니고 int가 됨 <br>
    이렇게 하나의 데이터만 튜플로 저장하려면 쉼표를 써줘야

</div>

In [156]:
t = 1, 2, 3, 4

print(type(t))

<class 'tuple'>

<div class="alert alert-info">

**Note:** 괄호 없어도 튜플로 저장됨

</div>

In [163]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
리스트화 = list(interest)
print(리스트화, type(리스트화))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [165]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
튜플화 = tuple(interest)
print(튜플화, type(튜플화))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [167]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a)

apple

In [172]:
짝수만 = tuple(range(0,100,2))

## 파이썬 딕셔너리
### 081 - 090

In [173]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

<div class="alert alert-info">

**Note:** `*`을 사용하면 변수의 개수가 달라도 데이터 언패킹 가능

</div>

In [175]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_scores, useless1, useless2 = scores
print(valid_scores)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [176]:
# 정답은 조금 더 깔끔
*valid_score, _, _= scores
print(valid_scores)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

<div class="alert alert-info">

**Note:** `_`를 사용하면 굳이 데이터 이름 짓지 않아도 됨

</div>

In [177]:
_, _, *valid_scores = scores
print(valid_scores)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [178]:
_, *valid_scores, _ = scores
print(valid_scores)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [182]:
temp = {}
print(temp, type(temp))

{} <class 'dict'>

In [190]:
icecream = {"메로나" : 1000, "폴라포": 1200, "빵빠레": 1800}
icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [191]:
icecream["죠스바"] = 1200
icecream["월드콘"] = 1500
icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [197]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print(ice['메로나'])

1000

In [198]:
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [199]:
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 091 - 100

In [200]:
inventory = {"메로나": (300, 20), "비비빅": (400, 3), "죠스바": (250, 100)}

In [203]:
print(inventory["메로나"][0], "원")
print(inventory["메로나"][1], "개")

300 원
20 개

In [204]:
inventory['월드콘'] = (500, 7)
inventory

{'메로나': (300, 20), '비비빅': (400, 3), '죠스바': (250, 100), '월드콘': (500, 7)}

In [206]:
list(inventory.keys())

['메로나', '비비빅', '죠스바', '월드콘']

In [208]:
list(inventory.values())

[(300, 20), (400, 3), (250, 100), (500, 7)]

In [211]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

<div class="alert alert-info">

**Note:** dict의 `keys`와 `values`, `update` 유용

</div>

In [213]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

print(dict(zip(keys, vals)))

{'apple': 300, 'pear': 250, 'peach': 400}

In [214]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

print(dict(zip(date, close_price)))

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

<div class="alert alert-info">

**Note:** `zip`을 이용해 두 리스트에 대한 dict 손쉽게 구성

</div>

## 파이썬 분기문 
### 101 - 110

In [1]:
print(3==5)

False

In [2]:
print(3<5)

True

In [3]:
x = 4
print(1<x<5)

True

In [4]:
print(3=>4)

SyntaxError: invalid syntax (<ipython-input-4-170b4e660e0b>, line 1)

In [6]:
print(3>=4)

False

In [7]:
if 4<3:
    print("Hello World")
else : 
    print("Hi there")

Hi there

In [8]:
if True:
    print(1)
else : 
    print(2)
print(3)

1
3

### 111 - 120

In [9]:
문자열 = '안녕하세요'
print(문자열*2)

안녕하세요안녕하세요

In [10]:
user = input("입력:")
print(user*2)

입력:안녕하세요
안녕하세요안녕하세요

<div class="alert alert-info">

**Note:** input()함수를 사용하면 바로 입력하는 창이 나옴!

</div>

In [13]:
num =input("숫자를 입력하세요: ")
print(int(num)+40)

숫자를 입력하세요: 30
70

In [17]:
num =input("숫자를 입력하세요: ")
if int(num)%2 == 0:
    print(f"{num}은(는) 짝수입니다")
else :
    print(f"{num}은(는) 홀수입니다")

숫자를 입력하세요: 32
32은(는) 짝수입니다

In [21]:
num =input("숫자를 입력하세요: ")
if int(num) + 20 > 255 :
    print(255)
else :
    print(int(num)+20)

숫자를 입력하세요: 30
50

In [22]:
time = input("현재 시간: ")
if time[-2:] == '00':
    print("정각입니다")
else :
    print("정각이 아닙니다")

현재 시간: 13:00
정각입니다

In [24]:
fruit = ['사과', '포도', '홍시']
fav_fruit = input("좋아하는 과일은?")
if fav_fruit in fruit:
    print('정답입니다')
else :  
    print('오답입니다')

좋아하는 과일은?파인애플
오답입니다

In [26]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
inv = input("종목명")
if inv in warn_investment_list:
    print('투자 경고 종목입니다')
else:
    print('투자 경고 종목이 아닙니다')

종목명Amazon
투자 경고 종목이 아닙니다

In [30]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = input("제가 좋아하는 계절은:")

if season in fruit.keys():
    print('정답입니다')
else : 
    print('오답입니다')

제가 좋아하는 계절은:봄여름
오답입니다

In [35]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
fav_fruit = input("제가 좋아하는 과일은:")

if fav_fruit in fruit.values():
    print('정답입니다')
else : 
    print('오답입니다')

제가 좋아하는 과일은:파인애플
오답입니다

### 121 -  130

In [36]:
user = input("입력:")
if user.islower():
    print(user.upper())
else :
    print(user.lower())

입력:hi
HI

In [38]:
score = input("점수:")
if int(score) >= 81:
    print('A')
elif int(score) >= 61:
    print('B')
elif int(score) >= 41:
    print('C')
elif int(score) >= 21:
    print('D')
else :
    print('E')

점수:42
C

In [42]:
money = input('입력:')
if money.split()[1] == '달러':
    print(int(money.split()[0])*1167, '원')
elif money.split()[1] == '엔':
    print(int(money.split()[0])*1096, '원')
elif money.split()[1] == '유로':
    print(int(money.split()[0])*1268, '원')
else:
    print(int(money.split()[0])*171, '원')

입력:43 유로
54524 원

<div class="alert alert-info">

**Note:** split 결과물에 바로 두 변수 할당 + 디셔너리 활용하는 방법도 있다!

</div>

In [46]:
ex = {"달러": 1167, "엔": 1096, "유로": 1268, "위안" : 171}
money = input('입력:')
amount, currency = money.split()
print(float(amount)*ex[currency], '원')

입력:32 달러
37344.0 원

In [48]:
num1 = input("input number 1:")
num2 = input("input number 2:")
num3 = input("input number 3:")
nums = [num1, num2, num3]
print(max(nums))

input number 1:5
input number 2:2
input number 3:3
5

In [50]:
companies = {"011":'SKT', "016": 'KT', "019": 'LGU', "010": '알수없음'}
phone_number = input('휴대전화 번호 입력: ')

phone_company = companies[phone_number.split('-')[0]]
print(f"당신은 {phone_company} 사용자입니다.")

휴대전화 번호 입력: 010-3243-324
당신은 알수없음 사용자입니다.

In [51]:
우편번호 = input('우편번호:')
if 우편번호[2] in ['0', '1', '2']:
    print('강북구')
elif 우편번호[2] in ['3', '4', '5']:
    print('도봉구')
if 우편번호[2] in ['6', '7', '8', '9']:
    print('노원구')

우편번호:04034
강북구

In [52]:
주민번호 = input('주민등록번호:')
if 주민번호[7] in ['1', '3']:
    print('남자')
else :
    print('여자')

주민등록번호:930293-1303021
남자

In [60]:
주민번호 = input('주민등록번호:')
if int(주민번호[8:10]) in range(0, 9):
    print('서울')
elif int(주민번호[8:10]) in range(9, 13) :
    print('부산')

주민등록번호:970313-1112981
부산

<div class="alert alert-info">

**Note:** 파이썬은 between 대신 그냥 이어서 쓰면 됨

</div>

In [63]:
주민번호 = input('주민등록번호:')
지역코드 = int(주민번호[8:10]) 
if 0<= 지역코드 <= 9:
    print('서울')
else :
    print('부산')

주민등록번호:970313-1112981
부산

In [69]:
번호 = '20192-3'
번호.replace('-','')

'201923'

In [77]:
주민번호 = input('주민등록번호:')
주민번호 = 주민번호.replace('-','')
mult = [2,3,4,5,6,7,8,9,2,3,4,5]
sum = 0 
for i in range(0,12):
    sum += int(주민번호[i])*mult[i]
if int(주민번호[-1]) == (11 - sum%11):
    print('유효한 주민번호 입니다.')
else:
    print('유효하지 않은 주민번호 입니다')

주민등록번호:970313-1112981
유효하지 않은 주민번호 입니다

In [78]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [82]:
시가_변동폭 = int(btc['opening_price']) + int(btc['max_price']) - int(btc['min_price'])

if 시가_변동폭 > int(btc['max_price']):
    print('상승장')
else:
    print('하락장')

상승장

## 파이썬 반복문
### 131 - 140

In [83]:
print("A", "B", "C", sep = '\n')

A
B
C

In [84]:
for 변수 in [10,20,30]:
    print(변수)

10
20
30

In [85]:
for 변수 in [10,20,30]:
    print(변수)
    print('-'*10)

10
----------
20
----------
30
----------

In [86]:
print('+'*5)
for 변수 in [10,20,30]:
    print(변수)

+++++
10
20
30

In [87]:
for i in range(0,4):
    print('-'*10)

----------
----------
----------
----------

### 141 - 150

In [88]:
리스트 = [100, 200, 300]
for price in 리스트:
    print(price+10)

110
210
310

In [89]:
리스트 = ["김밥", "라면", "튀김"]
for food in 리스트:
    print("오늘의 메뉴 :", food)

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

In [90]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for stock in 리스트:
    print(len(stock))

6
4
4

In [91]:
리스트 = ['dog', 'cat', 'parrot']
for animal in 리스트:
    print(animal, len(animal))

dog 3
cat 3
parrot 6

In [92]:
리스트 = ['dog', 'cat', 'parrot']
for animal in 리스트:
    print(animal[0])

d
c
p

In [94]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(i, 'x 3')

1 x 3
2 x 3
3 x 3

In [96]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(i, 'x 3 =', i*3)

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9

In [98]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'{i} x 3 = {i*3}')

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9

In [99]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [102]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [103]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

### 151 - 160

In [104]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0 :
        print(i)

-20
-3

In [106]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3 == 0:
        print(i)

3

In [107]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i%3 == 0 and i < 20:
        print(i)

12
18

In [108]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [109]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [110]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [112]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [113]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [115]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

In [116]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split('.')[1] in ['h', 'c']:
        print(i)

intra.h
intra.c
define.h

### 161 - 170

In [119]:
for i in range(10): # range(0,10)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [120]:
for i in range(2002, 2020):
    if i%4 == 2:
        print(i)

2002
2006
2010
2014
2018

In [121]:
for i in range(2002, 2020, 4):
    print(i)

2002
2006
2010
2014
2018

<div class="alert alert-info">

**Note:** range의 세번째 파라미터로 증감폭 설정하는게 편함

</div>

In [122]:
for i in range(1,31):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [124]:
for i in range(9, 0, -1):
    print(i)

9
8
7
6
5
4
3
2
1

In [125]:
for i in range(0,10):
    print(f'0.{i}')

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [126]:
for i in range(0,10):
    print(f'3x{i}={3*i}')

3x0=0
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27

In [127]:
for i in range(0,10):
    if i%2 == 1:
        print(f'3x{i}={3*i}')

3x1=3
3x3=9
3x5=15
3x7=21
3x9=27

In [128]:
sum = 0
for i in range(11):
    sum += i
print(sum)

55

In [129]:
sum = 0
for i in range(11):
    if i%2 == 1:
        sum += i
print(sum)

25

In [133]:
mul = 1
for i in range(1,11):
    mul *= i
print(mul)

3628800

### 171 - 180

In [134]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [135]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [136]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [139]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+i*10, price_list[i])

100 32150
110 32000
120 32500

In [140]:
my_list = ["가", "나", "다", "라"]
for i in range(0,3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [141]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(0,3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [146]:
my_list = ["가", "나", "다", "라"]
for i in range(3,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [148]:
my_list = [100, 200, 400, 800]
for i in range(0,len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [151]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(0,len(my_list)-2):
    print((my_list[i]+  my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [152]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(0,5):
    volatility.append(high_prices[i] - low_prices[i])
volatility

[50, 100, 30, 80, 0]

### 181 - 190

In [153]:
apart = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

<div class="alert alert-info">

**Note:** 이차원 리스트 : 리스트 안에 리스트

</div>

In [155]:
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [156]:
stock = {'시가': [100, 200, 300], '종가': [80, 210, 330]}

<div class="alert alert-info">

**Note:** 딕셔너리를 정의하는 새로운 방식

</div>

In [159]:
apart = [ [101, 102], [201, 202], [301, 302]]
for i in range(3):
    for j in range(2):
        print(apart[i][j], '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [163]:
apart = [ [101, 102], [201, 202], [301, 302]]
for i in range(2,-1,-1):
    for j in range(2):
        print(apart[i][j], '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [164]:
apart = [ [101, 102], [201, 202], [301, 302]]
for row in apart[::]:
    for col in row:
        print(col, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [165]:
apart = [ [101, 102], [201, 202], [301, 302]]
for row in apart[::-1]:
    for col in row:
        print(col, '호')

301 호
302 호
201 호
202 호
101 호
102 호

<div class="alert alert-info">

**Note:** 파이써닉한 사고! range로 인덱싱 그만 하자

</div>

In [166]:
apart = [ [101, 102], [201, 202], [301, 302]]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [167]:
apart = [ [101, 102], [201, 202], [301, 302]]
for row in apart[::]:
    for col in row[::]:
        print(col, '호')
        print('-'*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [168]:
apart = [ [101, 102], [201, 202], [301, 302]]
for row in apart[::]:
    for col in row[::]:
        print(col, '호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [169]:
apart = [ [101, 102], [201, 202], [301, 302]]
for row in apart[::]:
    for col in row[::]:
        print(col, '호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

### 191 - 200

In [182]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col, col*1.014)

2000 2028.0
3050 3092.7
2050 2078.7
1980 2007.72
7500 7605.0
2050 2078.7
2050 2078.7
1980 2007.72
15450 15666.300000000001
15050 15260.7
15550 15767.7
14900 15108.6

In [183]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col, col*1.014)
    print('-'*10)

2000 2028.0
3050 3092.7
2050 2078.7
1980 2007.72
----------
7500 7605.0
2050 2078.7
2050 2078.7
1980 2007.72
----------
15450 15666.300000000001
15050 15260.7
15550 15767.7
14900 15108.6
----------

In [184]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    for col in row:
        result.append(col*1.014)
result

[2028.0,
 3092.7,
 2078.7,
 2007.72,
 7605.0,
 2078.7,
 2078.7,
 2007.72,
 15666.300000000001,
 15260.7,
 15767.7,
 15108.6]

In [185]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    a_list = []
    for col in row:
        a_list.append(col*1.014)
    result.append(a_list)
result

[[2028.0, 3092.7, 2078.7, 2007.72],
 [7605.0, 2078.7, 2078.7, 2007.72],
 [15666.300000000001, 15260.7, 15767.7, 15108.6]]

In [187]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [188]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3]> 150:
        print(row[3])

190
310

In [189]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3]>= row[0]:
        print(row[3])

100
310

In [190]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1] - row[2])
volatility

[40, 30, 10]

In [191]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3]>= row[0]:
        print(row[1] - row[2])

40
10

<div class="alert alert-info">

**Note:** This is a note!

</div>