# 초보자를 위한 파이썬 300제
[링크](https://wikidocs.net/7014)

## 01 파이썬 시작하기
### 001 - 010

In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's Cosmetics")

Mary's Cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [6]:
print("naver", "kakao", "sk", "samsung", sep = ";")

naver;kakao;sk;samsung

<div class="alert alert-info">

**Note:** print 함수에 sep 인자를 입력하면 자동으로 사이를 구분해줌

</div>

In [11]:
print("first");print("second")

first
second

In [10]:
print("first", end = '');print("second")

firstsecond

<div class="alert alert-info">

**Note:** print 함수에 end 인자도 유용하다

</div>

In [12]:
print(5/3)

1.6666666666666667

## 파이썬 변수
### 011 - 020

In [14]:
삼성전자 = 50000
총평가금액 = 삼성전자*10 
print(총평가금액)

500000

In [17]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.78

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.78 <class 'float'>

In [22]:
s = "hello"
t = "python"

print(s, '! ', t, sep = '')

hello! python

In [23]:
print(s+'!', t)

hello! python

In [24]:
num_str = "720"
int(num_str)

720

In [25]:
num = 100
str(num)

'100'

In [26]:
float('15.79')

15.79

In [27]:
year = '2020'
int_year = int(2020)
print(int_year, int_year-1, int_year - 2)

2020 2019 2018

In [29]:
monthly = 48584
month = 36
print(monthly*month, "원")

1749024 원

## 파이썬 문자열
### 021-030

In [30]:
letters = 'python'
print(letters[0], letters[2])

p t

In [32]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [35]:
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4], sep = '')

홀홀홀

In [39]:
print(string[::2])
print(string[1::2])

홀홀홀
짝짝짝

<div class="alert alert-info">

**Note:** 문자열 슬라이싱할 때 시작인덱스:끝인덱스:오프셋 을 지정할 수 있음

</div>

In [40]:
string = 'PYTHON'
print(string[::-1])

NOHTYP

In [43]:
phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [44]:
phone_number = "010-1111-2222"
phone_number.replace("-", "")

'01011112222'

In [49]:
url = "http://sharebook.kr"
print(url.split(".")[-1])

kr

<div class="alert alert-info">

**Note:** 슬라이싱할 때 유용한 split!

</div>

In [50]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

<div class="alert alert-info">

**Note:** str은 immutable

</div>

In [53]:
string = 'abcdfe2a354a32a'
string.replace("a", "A")

'Abcdfe2A354A32A'

In [54]:
string = 'abcdfe2a354a32a'
string.replace("a", "A")
print(string)

abcdfe2a354a32a

<div class="alert alert-info">

**Note:** replace 함수 쓰고 다시 변수로 지정해주지 않으면 의미 없음
</div>

### 031 - 040

In [55]:
a = "3"
b = "4"
print(a + b)

34

In [56]:
print("Hi"*3)

HiHiHi

In [57]:
print("-"*80)

--------------------------------------------------------------------------------

In [60]:
t1 = 'python'
t2 = 'java'

print((t1+" "+t2+" ")*4)

python java python java python java python java

In [62]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이 : {} ".format(name1, age1))
print("이름: {} 나이 : {} ".format(name2, age2))

이름: 김민수 나이 : 10
이름: 이철희 나이 : 13

In [64]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [68]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [70]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [74]:
data = "   삼성전자"
print(data.strip())
print(data.lstrip())
print(data.rstrip())

삼성전자
삼성전자
   삼성전자

### 041 - 050

In [77]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [78]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [80]:
a = "hello"
a.capitalize()

'Hello'

In [86]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

In [88]:
file_name = "보고서.xlsx"
print(file_name.endswith(('xlsx', 'xls')))

True

<div class="alert alert-info">

**Note:** endswith 안에 여러 조건 쓰려면 괄호 형태

</div>

In [90]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

In [91]:
a = "hello world"
a.split()

['hello', 'world']

In [94]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [95]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [96]:
data = "039490     "
data.rstrip()

'039490'

## 04 파이썬 리스트
### 051 - 060

In [104]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank, type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>

In [100]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [105]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.insert(1, "배트맨")
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '럭키']

<div class="alert alert-info">

**Note:** 리스트 특정 위치에 값을 넣으려면 insert

</div>

In [106]:
movie_rank.remove("럭키")
movie_rank

['닥터 스트레인지', '배트맨', '스플릿']

In [110]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.insert(1, "배트맨")
print(movie_rank)
del movie_rank[1]
print(movie_rank)
del movie_rank[1]
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '럭키']

<div class="alert alert-info">

**Note:** 리스트 원소를 삭제할때는 remove나 del

</div>

In [111]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [114]:
nums = [1, 2, 3, 4, 5, 6, 7]

print("max : ", max(nums))
print("min : ", min(nums))

max :  7
min :  1

In [115]:
nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [116]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [120]:
nums = [1, 2, 3, 4, 5]

print(sum(nums) / len(nums))

3.0

### 061 - 070

In [121]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

price[1:]

[100, 130, 140, 150, 160, 170]

In [126]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("홀수만 :", nums[::2])
print("짝수만 :",nums[1::2])
print("역방향 :",nums[::-1])

홀수만 : [1, 3, 5, 7, 9]
짝수만 : [2, 4, 6, 8, 10]
역방향 : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [127]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [135]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))
print("/".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

<div class="alert alert-info">

**Note:** 리스트 원소를 합쳐서 프린트하고 싶을 때 `join` 사용

</div>

In [136]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [138]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [140]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [144]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort(reverse=True)
print(data)

[10, 9, 5, 4, 3, 2, 1]

## 05 파이썬 튜플
### 071 - 080

In [150]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [154]:
숫자1 = (1)
print(숫자1, type(숫자1))

숫자2 = (1,)
print(숫자2, type(숫자2))

1 <class 'int'>
(1,) <class 'tuple'>

<div class="alert alert-info">

**Note:** 하나의 정숫값만 저장하면 튜플이 아니고 int가 됨 <br>
    이렇게 하나의 데이터만 튜플로 저장하려면 쉼표를 써줘야

</div>

In [156]:
t = 1, 2, 3, 4

print(type(t))

<class 'tuple'>

<div class="alert alert-info">

**Note:** 괄호 없어도 튜플로 저장됨

</div>

In [163]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
리스트화 = list(interest)
print(리스트화, type(리스트화))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [165]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
튜플화 = tuple(interest)
print(튜플화, type(튜플화))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [167]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a)

apple

In [172]:
짝수만 = tuple(range(0,100,2))

## 06 파이썬 딕셔너리
### 081 - 090

In [173]:
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

<div class="alert alert-info">

**Note:** `*`을 사용하면 변수의 개수가 달라도 데이터 언패킹 가능

</div>

In [175]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_scores, useless1, useless2 = scores
print(valid_scores)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [176]:
# 정답은 조금 더 깔끔
*valid_score, _, _= scores
print(valid_scores)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

<div class="alert alert-info">

**Note:** `_`를 사용하면 굳이 데이터 이름 짓지 않아도 됨

</div>

In [177]:
_, _, *valid_scores = scores
print(valid_scores)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [178]:
_, *valid_scores, _ = scores
print(valid_scores)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [182]:
temp = {}
print(temp, type(temp))

{} <class 'dict'>

In [190]:
icecream = {"메로나" : 1000, "폴라포": 1200, "빵빠레": 1800}
icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [191]:
icecream["죠스바"] = 1200
icecream["월드콘"] = 1500
icecream

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [197]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print(ice['메로나'])

1000

In [198]:
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [199]:
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 091 - 100

In [200]:
inventory = {"메로나": (300, 20), "비비빅": (400, 3), "죠스바": (250, 100)}

In [203]:
print(inventory["메로나"][0], "원")
print(inventory["메로나"][1], "개")

300 원
20 개

In [204]:
inventory['월드콘'] = (500, 7)
inventory

{'메로나': (300, 20), '비비빅': (400, 3), '죠스바': (250, 100), '월드콘': (500, 7)}

In [206]:
list(inventory.keys())

['메로나', '비비빅', '죠스바', '월드콘']

In [208]:
list(inventory.values())

[(300, 20), (400, 3), (250, 100), (500, 7)]

In [211]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

<div class="alert alert-info">

**Note:** dict의 `keys`와 `values`, `update` 유용

</div>

In [213]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

print(dict(zip(keys, vals)))

{'apple': 300, 'pear': 250, 'peach': 400}

In [214]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

print(dict(zip(date, close_price)))

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

<div class="alert alert-info">

**Note:** `zip`을 이용해 두 리스트에 대한 dict 손쉽게 구성

</div>

<div class="alert alert-info">

**Note:** This is a note!

</div>